@font-face {
    font-family: armyFont;
    src: url(../fonts/BlackOpsOne-Regular.ttf);
}

@font-face {
    font-family: stratunBold;
    src: url(../fonts/stratun/stratum2-bold-webfont.ttf);
}

@font-face {
    font-family: stratunMedium;
    src: url(../fonts/stratun/stratum2-medium-webfont.ttf);
}

@font-face {
    font-family: stratunRegular;
    src: url(../fonts/stratun/stratum2-regular-webfont.ttf);
}
/*
#ece9d6
#0e172d
#161720

#0d1017
#0e182d
*/

html, body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #0e182d;
}

body {
    font-family: stratunMedium, Arial, Helvetica, "times new roman", times, roman, serif;
}

a{
    text-decoration: none;
    color: #0e182d;
}

.site-title{
    color: #0e182d;
    font-size: 3em;
}

.container{
    width: 50%;
    margin: auto;
}

.tagbutton{
    border: 1px solid #0e182d;
    border-radius: 5px;
    font-weight: 500;
    padding: 0 2px;
    margin: 5px;
    display: inline-block;
}

.tagbutton a, .tagbutton a:visited{
    color: #0e182d;
}

.article-list-item{
    font-weight: 500;
    color: "black"
}

.article-list-item:hover{
    font-weight: bolder;
    letter-spacing: 1px;
    color: #0e182d;
    font-weight: bolder;
}

.footer-para{
    font-weight: bolder;
    color: #0e182d;
    text-align: center;
    margin-top: 50px;
}

.profile_social_icons{
    display: flex;
}

.profile_social_icons ul{
    list-style: none;
    justify-content: space-between;
    margin: 10px auto;
    padding: 0;
    display: flex;
    width: inherit;
}

.profile_social_icons ul li{
    display: inline-block;
}

.profile_social_icons img, .home-btn img{
    width: 20px;
}

.markdown-body{
    font-family:stratunRegular, Arial, Helvetica, sans-serif !important;
}

.home-btn{
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    body {
      /* background-color: #0e182d; */
    }
    .container{
        width: 95%;
        padding: 2.5%;
    }
    /* .site-title, .footer-para, .article-list-item:hover, .tagbutton a, .tagbutton a:visited, .article-list-item{
        color: #fff;
    }
    .tagbutton{
        border-color: #fff;
    } */
    
  }